<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two Way Binding and class and Style</title>
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>

</head>

<body>

    <div id="app">
        <h1>{{username}}</h1>
        <h2>{{about}}</h2>
        <input v-model="username" type="text" placeholder="NHập username">
        <textarea v-model="about" cols="30" rows="10"></textarea>
    </div>

</body>

<script>

    var app = new Vue({
        el: '#app',
        data: {
            username: 'Tran van kien',
            about: ''
        },
        methods: {

        },
    })
</script>

</html>